{% load i18n %}
<html lang="en">

{% extends 'default.html' %}
{% load censor %}

{% block content %}


<form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>


    {% if is_not_subscribed %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
    {% if category_news_list %}

    <p>&nbsp;</p>
    <h1 style="text-align: center;">{% trans "Все посты" %}!</h1>
    <hr />

    <table width="100%" style="margin-top: 50px">

        <tr>
            <td><u>{% trans "Заголовок" %}!</u></td>
            <td><u>{% trans "Дата публикации" %}!</u></td>
            <td><u>{% trans "Содержание" %}!</u></td>
            <td><u>{% trans "Категория" %}!</u></td>
            <td><u>{% trans "Тип публикации" %}!</u></td>

        </tr>
        {% for post in category_news_list %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.created_at|date:' d M Y '}}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
            <td>{% for category in post.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
            <td>{{ post.type }}</td>
        </tr>
        {% endfor %}


    </table>
    {% else %}
    <h3> Публикации не найдены </h3>
    {% endif %}

    <p>&nbsp;</p>
        {# Добавляем пагинацию на страницу #}

        {# Информация о предыдущих страницах #}
        <div>{% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {# Информация о текущей странице #}
        {{ page_obj.number }}

        {# Информация о следующих страницах #}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}</div>
{% endblock content %}